# Venv's of collaborators
/venv3.10/
/venv_loginova/

# System files and IDE settings
/**/.DS_Store
/**/.idea/
/**/.vscode/
/**/.pytest_cache

# Python (CPython) caches
/**/*.pyc
/**/__pycache__/

# Databases, and other local resources
/db/db.sqlite

