output/
*.pyc
*.pyc
*.pyc
.DS_Store
*.pyc
.DS_Store
.DS_Store
Docs/.DS_Store
resources/.DS_Store
resources/Vehicles/Textures/.DS_Store
.DS_Store
.idea/misc.xml
.idea/Yandex2.iml
__pycache__/main.cpython-39.pyc
Docs/.DS_Store
gameplay/.DS_Store
gameplay/car_menu/__pycache__/car_menu.cpython-39.pyc
resources/.DS_Store
resources/Vehicles/.DS_Store
resources/Vehicles/__pycache__/Vehicle.cpython-39.pyc
resources/Vehicles/Textures/.DS_Store
*.xml
*.iml
*.pyc
.DS_Store
.idea/misc.xml
.idea/Yandex2.iml
__pycache__/main.cpython-39.pyc
Docs/.DS_Store
gameplay/.DS_Store
gameplay/car_menu/__pycache__/car_menu.cpython-39.pyc
resources/.DS_Store
resources/Vehicles/.DS_Store
resources/Vehicles/__pycache__/Vehicle.cpython-39.pyc
resources/Vehicles/Textures/.DS_Store
/venv_loginova/
Docs/.DS_Store
*.pyc
__pycache__/main.cpython-39.pyc
.DS_Store
*.pyc
__pycache__/main.cpython-39.pyc
Docs/.DS_Store
*.pyc
*.pyc
*.pyc
*.pyc
.idea/
__pycache__/
**/__pycache__
venv3.9_german/
resources/Vehicles/.DS_Store
resources/Vehicles/Textures/.DS_Store
gameplay/.DS_Store
resources/fonts/.DS_Store
*.swp
currency.dat
.vscode/launch.json
.vscode
.vscode/settings.json
