{% extends "base.html" %}
{% block content %}
  <h2 class="text-center">Изменение пофиля</h2>
  <p>Не все поля обязательны для заполнения.</p>
  <p>В целях безопасности все места проходят проверку перед публикацией.</p>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.hidden_tag() }}
    {% if message %}
      <p class="alert alert-danger" role="alert">{{message}}</p>
    {% endif %}
    <p>
      {{ form.name.label }}<br>
      {{ form.name(class="form-control", type="name") }}<br>
      {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
          {{ error }}
        </p>
      {% endfor %}
    </p>
    <p>
      {{ form.datetime.label }}<br>
      {{ form.datetime(class="form-control", type="datetime") }}<br>
      {% for error in form.datetime.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endfor %}
    </p>
    <p>
      {{ form.required_age.label }}<br>
      {{ form.required_age(class="form-control") }}<br>
      {% for error in form.required_age.errors %}
        <p class="alert alert-danger" role="alert">
          {{ error }}
        </p>
      {% endfor %}
    </p>
    <p>
      {{ form.description.label }}<br>
      {{ form.description(class="form-control") }}<br>
      {% for error in form.description.errors %}
        <p class="alert alert-danger" role="alert">
          {{ error }}
        </p>
      {% endfor %}
    </p>
    <p>
      {{ form.notes.label }}<br>
      {{ form.notes(class="form-control") }}<br>
      {% for error in form.notes.errors %}
        <p class="alert alert-danger" role="alert">
          {{ error }}
        </p>
      {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
  </form>
{% endblock %}>
