{% extends "base.html" %}
{% block content %}
  <h2 class="text-center">{{place.name}}</h2>
  <h5 class="text-center text-muted">{{place.address}}</h5>
  <p>{{place.about or 'Описание отсутствует'}}</p>
  <h5 class="text-center text-muted">Мероприятия</h5>
  <div class="container-fluid">
    <div class="row">
      {%for event in place.events%}
        <div class="col my-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="max-width: 30ch">{{event.name}}</h5>
              <a class="card-link card-subtitle text-muted s" style="max-width: 30ch">{{event.datetime.strftime("%d.%m.%y %H:%M") if event.datetime else 'Время не указано'}}</a>
              <p class="s text-truncate" style="max-width: 30ch">{{event.description or '—'}}</p>
            </div>
            <div class="card-body">
              <a class="btn btn-outline-primary" href="/event/{{event.id}}">Информация</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {%if current_user.is_authenticated and current_user.controlled_place == place%}
    <h5 class="text-center text-muted">Заказы</h5>
    <div class="container-fluid">
      <div class="row">
        {%for order in orders%}
          <div class="col my-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{order.name}}</h5>
                <a class="card-link card-subtitle text-muted s">{{order.event.name}}</a>
                <a class="card-link card-subtitle text-muted s">{{order.owner.email}}</a>
                <a class="card-link card-subtitle text-muted s" style="max-width: 30ch">{{order.event.datetime.strftime("%d.%m.%y %H:%M") if order.event.datetime else 'Время не указано'}}</a>
              </div>
              <div class="card-body">
                <a class="btn btn-outline-primary" href="/accept/{{order.id}}">Выполнен</a>
                <a class="btn btn-outline-secondary" href="/decline/{{order.id}}">Отказать</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {%endif%}
  {% endblock %}>
